
p {
    margin: 5px;
}

.head {
    width: 1200px;
    height: 600px;
    background-image: url('img/Sans\ titre.png');
    margin: auto;
}

.design {
    font-size: 34px;
    margin: 130px;
    margin-top: 155px;
}


.mob {
    font-size: 72px;
    color: rgb(149, 60, 233);
    margin: 135px;
    font-weight: bolder;
    margin-top: -150px;
}

.slider {
    float: right;
    margin-top: -435px;
    height: 450px;
    margin-right: 150px;
}

button {
    color: rgb(219, 219, 219);
    background-color: #1d1e30;
    margin-left: 130px;
    width: 200px;
    height: 40px;
}

.b1 {
    margin-top: -100px;
}

.part1 {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(242, 247, 253);
}

.part2 {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(242, 247, 253);
}

h1,
h2 {
    text-align: center;
    font-weight: bold;

}

.b2 {
    margin-left: 500px;
    color: rgb(219, 219, 219);
    background-color: rgb(149, 60, 233);
    width: 200px;
    height: 40px;
    margin-top: 50px;
    border: none;
}

.b3 {
    width: 200px;
    height: 40px;
    border: none;
    float: left;
}

.b4 {
    width: 200px;
    height: 40px;
    color: rgb(219, 219, 219);
    background-color: rgb(149, 60, 233);
    border: none;
}


.dl {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    background-color: white;
}


.p1 {
    background-color: white;
    font-weight: 300;
    width: 392px;
    margin-left: 5px;
}
.p2 {
    background-color: white;
    font-weight: 300;
    width: 396px;
    margin-left: 5px;
    margin-right: 5px;
}
.p3 {
    background-color: white;
    font-weight: 300;
    width: 392px;

}
.para {
    margin: auto;
}
.line {
    color: rgb(149, 60, 233);
    text-align: center;
    margin-top: -20px;
    background-color: white;
}

.line2 {
    color: rgb(149, 60, 233);
    text-align: center;
    margin-top: -40px;
}

.square1 {
    background-color: #1d1e30;
    color: aliceblue;
    height: 150px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-size: small;
}

.square2 {
    background-color: #1d1e30;
    color: aliceblue;
    height: 150px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-size: small;
}

.square3 {
    background-color: #1d1e30;
    color: aliceblue;
    height: 150px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-size: small;
}

.square4 {
    background-color: #1d1e30;
    color: aliceblue;
    height: 150px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-size: small;
}

.img {
    margin-left: 67px;
    margin-top: 30px;
}